.Groww_LoginRegister button:hover{
    background-color: #04c595;
}

/******our product hover effect************/
.GrowwProduct_StocksDetails:hover svg{
    filter : brightness();
    background-color: #e5faf5;
   
}
.GrowwProduct_MutualFundsDetails:hover svg{
    filter: brightness();
    background-color: #eef0ff;
    
}
.GrowwProduct_UsStocksDetails:hover svg{
    filter:brightness();
    background-color: #fae9e5;
    
}
.GrowwProduct_FDsDetails:hover svg{
    filter:brightness();
    background-color: #fae9e5;

}
/**************view all product************/
.veiwAllProduct_Container .text:hover{
    text-decoration: underline;
}