.Groww_LoginRegister button:hover{
    background-color: #04c595;
}

/******our product hover effect************/
.GrowwProduct_StocksDetails svg:hover{
    filter : brightness();
    background-color: #e5faf5;
    border-radius:300px;
    padding:5px;
}
.GrowwProduct_MutualFundsDetails svg:hover{
    filter: brightness();
    background-color: #eef0ff;
    border-radius:300px;
    padding:5px;
}
.GrowwProduct_UsStocksDetails svg:hover{
    filter:brightness();
    background-color: #fae9e5;
    border-radius:300px;
    padding:5px;
}
.GrowwProduct_FDsDetails svg:hover{
    filter:brightness();
    background-color: #fae9e5;
    border-radius:300px;
    padding:5px;

}
/**************view all product************/
.veiwAllProduct_Container .text:hover{
    text-decoration: underline;
}