/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Corinthia:wght@700&family=Open+Sans:ital,wght@0,300;1,700&family=Source+Code+Pro:ital,wght@1,506&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Corinthia:wght@700&family=Open+Sans:ital,wght@0,300;1,700&family=Patua+One&family=Source+Code+Pro:ital,wght@1,506&display=swap'); */

*{
    padding:0;
    margin:0;
}
.Groww_Top{
    width:100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Groww_logo{
    width: 369px;
    height: 79px;
    display: flex;
    align-items: center;
}
.Groww_logo img{
    width: 148px;
    height: 40px;
    cursor: pointer;
}

/*******search*****************/
.Groww_searchContainer{
    width: 443px;
    height: 41px;
    display: flex;
    align-items: center;
    padding:0px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(148, 148, 148,0.2),
    2px 2px 5px rgba(148, 148, 148,0.2);
}
.Groww_searchContainer input{
    margin:0px 10px;
    font-size: 16px;
    width: 100%;
    border:none;
    outline: none;
}
.Groww_searchContainer i {
    font-size: 15px;
    color:rgb(148, 148, 148);
}
.Groww_LoginRegister{
    width: 246px;
    height: 79px;
    display: flex;
    align-items: center;
}
.Groww_LoginRegister button{
    background-color: #00d09c;
    border:none;
    width:175px;
    height: 45px;
    color:white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/***************************************************************************************************/
/*                                      middle_part                                                */
/**************************************************************************************************/

.Groww_Started_Container{
    width: 362px;
    height: 55px;
}
.Goww_StartedButton{
    width: 200px;
    height: 55px;
    background-color: #00d09c;
    border:none;
    font-size: 20px;
    color:white;
    border-radius:5px;
}

.InvestIn{
    display: flex;
    font-size: 38px;
    color:#44475b;
    /* font-weight: 500; */
}
.Slidder_vertical{
    text-indent: 15px;
    height:60px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    
}
.Slidder_vertical span{
    display: flex;
    flex-direction: column;
    animation:verticalSlide 7s infinite;
    animation-delay: 3s;
    position: relative;
    height: 80px;
}
/****animation***************/
@keyframes verticalSlide {
      0%{
            bottom:0px;
      }
      17%{
            bottom:-70px;
      }
      34%{
            bottom:-140px;
      }
      68%{
          bottom: -210px;
      }
      85%{
          bottom: -280px;
      }
      100%{
          bottom:-350px
      }
         
}
/*color**/
.Stocks_Color{
    color:#5367ff;
    padding-top:10px;
    padding-bottom: 15px;
}
.MutualFunds_Color{
    color:#00d09c;
    padding-top:10px;
    padding-bottom: 15px;
}
.FuturesOptions_Color{
    color:#ffb61b;
    padding-top:10px;
    padding-bottom: 15px;
}
.UsStocks_Color{
    color:#eb5b3c;
    padding-top:10px;
    padding-bottom: 15px;
}
.IPO_Color{
    color:#d2ab66;
    padding-top:10px;
    padding-bottom: 15px;
}
.FDs_Color{
    color:#5367ff;
    padding-top:10px;
    padding-bottom: 15px;
}
/******middle left side***/
.Grow_middle_col2{
    display: flex;
}
.Grow_middle_col2 a{
    width:180px;
    height: 140px;
    box-shadow: 3px 6px 24px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:50px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color:#44475b;
    background-color: #fff;
}
.middle_part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin:30px 100px;
}
.Grow_Middle_Left_Text{
    margin:30px 0px;
    font-size: 18px;
    color:#7c7e8c;
    letter-spacing: 0.5px;
    width: 400px;
    line-height: 30px;
}

/********************Our Product****************************************/
.GrowwProduct{
    margin:20px 100px;
}
.OurProduct_Text{
    background-color:#ecedef;
    color:#44475b;
    letter-spacing: 0.3px;
    font-size: 12px;
    padding:5px 10px;
    border-radius: 15px;
    min-width: 50px;
    width: fit-content;
}
.yourMoneyYourChoice_Text{
    font-size: 35px;
    color: #44475b;
    line-height: 25px;
    letter-spacing: .2px;
    margin:30px 0px 70px 0px;
}
.GrowwProduct_Navbar{
    display: flex;
}
.GrowwProduct_StocksDetails,
.GrowwProduct_MutualFundsDetails,
.GrowwProduct_UsStocksDetails,
.GrowwProduct_FDsDetails{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 55px;
    margin-right: 50px;
    cursor: pointer;
}

.GrowwProduct_StocksDetails > div,
.GrowwProduct_MutualFundsDetails > div,
.GrowwProduct_UsStocksDetails > div ,
.GrowwProduct_FDsDetails > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    color: #44475b;
    margin: 0px 10px;
}

/***svg*****/
.GrowwProduct_StocksDetails > svg,
.GrowwProduct_MutualFundsDetails > svg,
.GrowwProduct_UsStocksDetails > svg ,
.GrowwProduct_FDsDetails > svg {
    width: 25px;
    height: 25px;
    filter: grayscale(1);
    padding:10px;
    border-radius: 30px;
}

.GrowwProduct_Display{
    height: 355px;
    margin: 100px 0px;
}
.ZeroText{
    font-size: 80px;
    font-weight: 900;
    color:#323441;
    letter-spacing: 1px;

}
.GrowwProduct_StocksDetails_Display_RightPart h2{
    font-size: 28px;
    color:#323441;

}
.stocksDetails_Text{
    font-size: 18px;
    color:#7c7e8c;
    line-height: 26px;
    width: 400px;
    margin: 20px 0px;
}
.GrowwProduct_Button_CreateAccountFree button{
    width: 205px;
    height: 45px;
    color:white;
    background: #00d09c;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
}
.GrowwProduct_StocksDetails_Display{
    display: flex;
    justify-content: space-evenly;
}
.veiwAllProduct_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.veiwAllProduct_Container .text{
    color:#00d09c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
/**************NavbarUnderlineActive******************/
.NavbarUnderlineActive{
    height: 3px;
    width: 200px;
    background-color: #00d09c;
    position: relative;
    transform: translate(-850px,60px);
    transition: 1s;
}

/****javascript class addd*****/
.StockActive.Active1{
    filter : brightness();
    background-color: #e5faf5;
}
.MutualFundActive.Active2{
    filter: brightness();
    background-color: #eef0ff;
    padding: 10px;
    
}
.UsStockActive.Active3{
    filter:brightness();
    background-color: #fae9e5;
    
}
.FDActive.Active4{
    filter:brightness();
    background-color: #fae9e5;

}
/***************************************************************************************/
