/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Corinthia:wght@700&family=Open+Sans:ital,wght@0,300;1,700&family=Source+Code+Pro:ital,wght@1,506&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Corinthia:wght@700&family=Open+Sans:ital,wght@0,300;1,700&family=Patua+One&family=Source+Code+Pro:ital,wght@1,506&display=swap'); */

*{
    padding:0;
    margin:0;
}
.Groww_Top{
    width:100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Groww_logo{
    width: 369px;
    height: 79px;
    display: flex;
    align-items: center;
}
.Groww_logo img{
    width: 148px;
    height: 40px;
    cursor: pointer;
}

/*******search*****************/
.Groww_searchContainer{
    width: 443px;
    height: 41px;
    display: flex;
    align-items: center;
    padding:0px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgba(148, 148, 148,0.2),
    2px 2px 5px rgba(148, 148, 148,0.2);
}
.Groww_searchContainer input{
    margin:0px 10px;
    font-size: 16px;
    width: 100%;
    border:none;
    outline: none;
}
.Groww_searchContainer i {
    font-size: 15px;
    color:rgb(148, 148, 148);
}
.Groww_LoginRegister{
    width: 246px;
    height: 79px;
    display: flex;
    align-items: center;
}
.Groww_LoginRegister button{
    background-color: #00d09c;
    border:none;
    width:175px;
    height: 45px;
    color:white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/***************************************************************************************************/
/*                                      middle_part                                                */
/**************************************************************************************************/

.Groww_Started_Container{
    width: 362px;
    height: 55px;
}
.Goww_StartedButton{
    width: 200px;
    height: 55px;
    background-color: #00d09c;
    border:none;
    font-size: 20px;
    color:white;
    border-radius:5px;
}

.InvestIn{
    display: flex;
    font-size: 38px;
    color:#44475b;
    /* font-weight: 500; */
}
.Slidder_vertical{
    text-indent: 15px;
    height:60px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    
}
.Slidder_vertical span{
    display: flex;
    flex-direction: column;
    animation:verticalSlide 7s infinite;
    animation-delay: 3s;
    position: relative;
    height: 80px;
}
/****animation***************/
@keyframes verticalSlide {
      0%{
            bottom:0px;
      }
      17%{
            bottom:-70px;
      }
      34%{
            bottom:-140px;
      }
      68%{
          bottom: -210px;
      }
      85%{
          bottom: -280px;
      }
      100%{
          bottom:-350px
      }
         
}
/*color**/
.Stocks_Color{
    color:#5367ff;
    padding-top:10px;
    padding-bottom: 15px;
}
.MutualFunds_Color{
    color:#00d09c;
    padding-top:10px;
    padding-bottom: 15px;
}
.FuturesOptions_Color{
    color:#ffb61b;
    padding-top:10px;
    padding-bottom: 15px;
}
.UsStocks_Color{
    color:#eb5b3c;
    padding-top:10px;
    padding-bottom: 15px;
}
.IPO_Color{
    color:#d2ab66;
    padding-top:10px;
    padding-bottom: 15px;
}
.FDs_Color{
    color:#5367ff;
    padding-top:10px;
    padding-bottom: 15px;
}
/******middle left side***/
.Grow_middle_col2{
    display: flex;
}
.Grow_middle_col2 a{
    width:180px;
    height: 140px;
    box-shadow: 3px 6px 24px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:50px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color:#44475b;
    background-color: #fff;
}
.middle_part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin:30px 100px;
}
.Grow_Middle_Left_Text{
    margin:30px 0px;
    font-size: 18px;
    color:#7c7e8c;
    letter-spacing: 0.5px;
    width: 400px;
    line-height: 30px;
}

/********************Our Product****************************************/
.GrowwProduct{
    margin:20px 100px;
}
.OurProduct_Text{
    background-color:#ecedef;
    color:#44475b;
    letter-spacing: 0.3px;
    font-size: 12px;
    padding:5px 10px;
    border-radius: 15px;
    min-width: 50px;
    width: fit-content;
}
.yourMoneyYourChoice_Text{
    font-size: 35px;
    color: #44475b;
    line-height: 25px;
    letter-spacing: .2px;
    margin:30px 0px 70px 0px;
}
.GrowwProduct_Navbar{
    display: flex;
}
.GrowwProduct_StocksDetails,
.GrowwProduct_MutualFundsDetails,
.GrowwProduct_UsStocksDetails,
.GrowwProduct_FDsDetails{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 55px;
    margin-right: 50px;
    cursor: pointer;
}

.GrowwProduct_StocksDetails > div,
.GrowwProduct_MutualFundsDetails > div,
.GrowwProduct_UsStocksDetails > div ,
.GrowwProduct_FDsDetails > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    color: #44475b;
    margin: 0px 10px;
}

/***svg*****/
.GrowwProduct_StocksDetails > svg,
.GrowwProduct_MutualFundsDetails > svg,
.GrowwProduct_UsStocksDetails > svg ,
.GrowwProduct_FDsDetails > svg {
    width: 25px;
    height: 25px;
    filter: grayscale(1);
    padding:10px;
    border-radius: 30px;
}

.GrowwProduct_Display{
    height: 355px;
    margin: 100px 0px;
}
.ZeroText{
    font-size: 80px;
    font-weight: 900;
    color:#323441;
    letter-spacing: 1px;

}
.GrowwProduct_StocksDetails_Display_RightPart h2{
    font-size: 28px;
    color:#323441;

}
.stocksDetails_Text{
    font-size: 18px;
    color:#7c7e8c;
    line-height: 26px;
    width: 400px;
    margin: 20px 0px;
}
.GrowwProduct_Button_CreateAccountFree button{
    width: 205px;
    height: 45px;
    color:white;
    background: #00d09c;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
}
.GrowwProduct_StocksDetails_Display{
    display: flex;
    justify-content: space-evenly;
}
.veiwAllProduct_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    
}
.veiwAllProduct_Container .text{
    color:#00d09c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
/**************NavbarUnderlineActive******************/
.NavbarUnderlineActive{
    height: 3px;
    width: 200px;
    background-color: #00d09c;
    position: relative;
    transform: translate(-850px,60px);
    transition: 1s;
}

/****javascript class addd*****/
.StockActive.Active1{
    filter : brightness();
    background-color: #e5faf5;
}
.MutualFundActive.Active2{
    filter: brightness();
    background-color: #eef0ff;
    padding: 10px;
    
}
.UsStockActive.Active3{
    filter:brightness();
    background-color: #fae9e5;
    
}
.FDActive.Active4{
    filter:brightness();
    background-color: #fae9e5;

}
/***************************************************************************************/
.Groww_TrustedByContainer{
    width: auto;
    height: 600px;
    background-color:#5367ff;
    color:#ffffff;
    position: relative;
}
.Groww_TrustedBackgroundImage{
    width: auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./ImageTrusted/shield-groww.png");
    background-position-y:-80px;
}
.GrowwTrusted_Left_Heading{
    font-size: 70px;
    margin-top: 100px;
}
.GrowwTrusted_left_Text{
    font-size: 20px;
    width: 560px;
    margin: 50px 0px;
}

.GrowwTrusted_right{
    width: 400px;
}
/*************************************************learning part*********************************/
.GrowwLeaning_Image{
    width: 350px;
    height: 275px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.GrowwLeaning_Image img{
    width: 350px;
    height: 275px;
}
.GrowwLearning_Container{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
}
.GrowwLearningSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.GrowwLearning_Heading{
    font-size: 35px;
    font-weight: 900;
    margin: 60px 0px;
    color:#323441;
}
.GrowwLearning_Details{
    font-size: 25px;
    width: 350px;
    text-align: center;
    margin: 40px 0px;
}
.GrowwLearning_Container a{
    text-decoration: none;
    color: #323441;
    font-weight: 500;
}
.GrowwLearning_moreSection a{
    color: #00d09c;
    text-decoration: none;
    font-size: 18px;
}
.GrowwLearning_moreSection{
    margin: 50px 0px;
}
/************In press section******************/
.GrowwInPress_Name img{
    width: 166px;
    height: 88px;
    filter: grayscale(1);
}
.GrowwInPress_Name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px 0px;
}
.GrowwInPressSection_Heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.GrowwInPressSection_Heading hr{
    width: 450px;
    height: 0.5px;
    background-color: rgb(231, 227, 227);
    border:none;
}
.GrowwInpressSection_Text {
    font-size: 45px;
    color: #323441;
    margin: 10px;
}
.GrowwInPressSection{
    margin: 25px 0px;
}
/***************************GrowwInvestor*********************************/
.GrowwInvestor{
    margin: 80px 100px;
}
.GrowwInvestor_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headingandDetails h2{
    font-size: 40px;
    color: #44475b;
}
.headingandDetails p{
    font-size: 20px;
    color: #7c7e8c;
    letter-spacing: 0.5px;
}
.GrowwInvestor_moreSection a{
    color: #00d09c;
    text-decoration: none;
}
.GrowwInvestor_top{
    margin: 50px 0px;
}

.GrowwInvestor_ReviewsContainer{
    display: flex;
    justify-content:center;
    align-items: center;
}
.GrowwInvestor_ReviewBox{
    width: 360px;
    height: 400px;
    margin:20px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.GrowwInvestor_image{
    width: 86px;
    height: 60px;
}
.GrowwInvestor_image img{
    width: 56px;
    height: 60px;
    border-radius: 60px;
}
.GrowwInvestor_Profile_star{
    display: flex;
    align-items: center;
}
.GrowwInvestor_Star i{
    color:orange;
}
.GrowwInvestor_Telling{
    width: 288px;
    height: 180px;
    margin: 20px 0px;
}
.GrowwInvestor_Telling p{
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-size: 20px;
    line-height: 35px;
    color:#323441;
}
.GrowwInvestor_Name_profession{
    margin: 25px 0px;
}
.GrowwInvestor_Name{
    font-size: 20px;
}
.GrowwInvestor_Profession{
    font-size: 16px;
    color: #7c7e8c;
}
/****************InvestAnyWhereContainer****************************************/
.applist img{
    width: 255px;
    height: 360px;
}
.InvestAnyWhereContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.InvestAnyWhereContainer_Left_Text{
    font-size: 50px;
    width: 390px;
    color:#323441;
}
.InvestAnyWhereContainer_Left p{
    color:#7c7e8c;
    font-size: 20px;
    margin: 30px 0px;
    width: 390px;
}
.ListContainer_List{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.ListContainer_Details_Heading_Description{
    font-size: 18px;
    margin: 20px 0px;
    width: 250px;
    color:#7c7e8c;
}
.ListContainer_Details_Heading{
    font-size: 20px;
    font-weight: 900;
}
.ListContainer_Details{
    margin-left:40px;
}
.InvestAnyWhereContainer_Right{
    display: flex;
    align-items: center;
}
.applist{
    margin:20px;
}
/********************************support******************************************/
.SupportSection{
    margin:100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SupportContainer{
    background-color: #00d09c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1110px;
    padding-top:40px;
    
}
.SupportSection_left{
    width: 500px;
}
.SupportSection_left h2{
    font-size: 35px;
    color:white;
    margin:30px 0px;
}
.SupportSection_left p{
    font-size: 17px;
    width: 500px;
    line-height: 30px;
    color:white;

}
.SupportSection_left button{
    width: 200px;
    height: 50px;
    border:none;
    font-size: 18px;
    color:#00d09c;
    margin: 30px 0px;
}
.SupportSection_Right{
    position: relative;
    bottom: -4px;
}
/*******************FooterSection*******************************************************/
.FooterSection{
    background-color: #1e2232;
    width: 100% auto;
    height: 400px;
    color:white;
    padding-top:40px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    
}
.FooterSection_Address1{
    margin-top:25px;
}
.FooterSection_Address1,
.FooterSection_Address2,
.FooterSection_Address3{
    font-size: 18px;
}

.FooterSection_Product h2,
.FooterSection_Groww h2,
.FooterSection_QuickLink h2{
    margin-bottom: 40px;
    font-size: 20px;
}

.FooterSection_ProductList,
.FooterSection_GrowwList,
.FooterSection_QuickLinkList{
    font-size: 18px;
    line-height: 28px;
}
.FooterSection_ContactSocialMedia .ContactUs{
    text-decoration: underline;
    margin-bottom: 10px;
}
.SocialMedia_icon{
    margin: 5px;
}

.horizontalLine{
    height: 0.3px;
    width: 85%;
    background-color:#7c7e8c;
    margin:30px 100px;
}

.GrowwApplicationDownload a{
    margin-right:20px;
}
.GrowwFooterlast{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:0px 100px;
}

